In [9]:
import sqlite3
from sqlite3 import Error
 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn
 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!

In [8]:
import sqlite3
from sqlite3 import Error
 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn
 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT name, SUM(
CASE WHEN memid =0
THEN slots * guestcost
ELSE slots * membercost
END ) AS 'Revenue'
FROM Bookings AS B
INNER JOIN Facilities AS F ON B.facid = F.facid
GROUP BY name
HAVING Revenue <1000
ORDER BY Revenue
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order

In [21]:
import sqlite3
from sqlite3 import Error
 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn
 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT a.`surname`, a.`firstname`, b.`firstname` || ' ' || b.`surname`
FROM Members AS a
LEFT JOIN Members AS b ON b.`memid` = a.`recommendedby`
WHERE a.`memid` <> 0
ORDER BY a.surname, a.firstname
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Bader', 'Florence', 'Ponder Stibbons')
('Baker', 'Anne', 'Ponder Stibbons')
('Baker', 'Timothy', 'Jemima Farrell')
('Boothe', 'Tim', 'Tim Rownam')
('Butters', 'Gerald', 'Darren Smith')
('Coplin', 'Joan', 'Timothy Baker')
('Crumpet', 'Erica', 'Tracy Smith')
('Dare', 'Nancy', 'Janice Joplette')
('Farrell', 'David', None)
('Farrell', 'Jemima', None)
('Genting', 'Matthew', 'Gerald Butters')
('Hunt', 'John', 'Millicent Purview')
('Jones', 'David', 'Janice Joplette')
('Jones', 'Douglas', 'David Jones')
('Joplette', 'Janice', 'Darren Smith')
('Mackenzie', 'Anna', 'Darren Smith')
('Owen', 'Charles', 'Darren Smith')
('Pinker', 'David', 'Jemima Farrell')
('Purview', 'Millicent', 'Tracy Smith')
('Rownam', 'Tim', None)
('Rumney', 'Henrietta', 'Matthew Genting')
('Sarwin', 'Ramnaresh', 'Florence Bader')
('Smith', 'Darren', None)
('Smith', 'Darren', None)
('Smith', 'Jack', 'Darren Smith')
('Smith', 'Tracy', None)
('Stibbons', 'Ponder', 'Burton Tracy')
('Tracy', 'Burton', None)
('Tupperware', 'Hyacinth', None)
('Worthington-Smyth', 'Henry', 'Tracy Smith')

Q12: Find the facilities with their usage by member, but not guests

In [1]:
import sqlite3
from sqlite3 import Error
 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn
 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT M.`firstname` || ' ' || M.`surname`, F.name, COUNT(B.bookid)
        FROM Bookings AS B
        INNER JOIN Facilities AS F ON B.facid = F.facid
        INNER JOIN Members as M ON B.memid = M.memid
        WHERE B.memid <> 0
        GROUP BY B.memid, F.name
        ORDER BY F.name
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Darren Smith', 'Badminton Court', 132)
('Tracy Smith', 'Badminton Court', 32)
('Tim Rownam', 'Badminton Court', 4)
('Gerald Butters', 'Badminton Court', 20)
('Burton Tracy', 'Badminton Court', 2)
('Nancy Dare', 'Badminton Court', 10)
('Tim Boothe', 'Badminton Court', 12)
('Ponder Stibbons', 'Badminton Court', 16)
('Charles Owen', 'Badminton Court', 6)
('David Jones', 'Badminton Court', 8)
('Anne Baker', 'Badminton Court', 10)
('Jemima Farrell', 'Badminton Court', 7)
('Jack Smith', 'Badminton Court', 12)
('Florence Bader', 'Badminton Court', 9)
('Timothy Baker', 'Badminton Court', 7)
('David Pinker', 'Badminton Court', 7)
('Anna Mackenzie', 'Badminton Court', 30)
('Ramnaresh Sarwin', 'Badminton Court', 7)
('Douglas Jones', 'Badminton Court', 2)
('Henry Worthington-Smyth', 'Badminton Court', 4)
('Millicent Purview', 'Badminton Court', 2)
('Hyacinth Tupperware', 'Badminton Court', 1)
('John Hunt', 'Badminton Court', 2)
('Erica Crumpet', 'Badminton Court', 2)
('Darren Smith', 'Massage Room 1', 28)
('Tracy Smith', 'Massage Room 1', 6)
('Tim Rownam', 'Massage Room 1', 80)
('Janice Joplette', 'Massage Room 1', 12)
('Gerald Butters', 'Massage Room 1', 32)
('Burton Tracy', 'Massage Room 1', 31)
('Nancy Dare', 'Massage Room 1', 19)
('Tim Boothe', 'Massage Room 1', 36)
('Ponder Stibbons', 'Massage Room 1', 19)
('Charles Owen', 'Massage Room 1', 11)
('David Jones', 'Massage Room 1', 19)
('Anne Baker', 'Massage Room 1', 3)
('Jemima Farrell', 'Massage Room 1', 29)
('Jack Smith', 'Massage Room 1', 27)
('Timothy Baker', 'Massage Room 1', 24)
('David Pinker', 'Massage Room 1', 3)
('Matthew Genting', 'Massage Room 1', 25)
('Anna Mackenzie', 'Massage Room 1', 1)
('Joan Coplin', 'Massage Room 1', 1)
('Ramnaresh Sarwin', 'Massage Room 1', 8)
('Henry Worthington-Smyth', 'Massage Room 1', 1)
('Hyacinth Tupperware', 'Massage Room 1', 1)
('John Hunt', 'Massage Room 1', 3)
('Erica Crumpet', 'Massage Room 1', 2)
('Tim Rownam', 'Massage Room 2', 2)
('Janice Joplette', 'Massage Room 2', 2)
('Gerald Butters', 'Massage Room 2', 1)
('Nancy Dare', 'Massage Room 2', 5)
('Charles Owen', 'Massage Room 2', 2)
('David Jones', 'Massage Room 2', 4)
('Anne Baker', 'Massage Room 2', 2)
('Jack Smith', 'Massage Room 2', 1)
('Florence Bader', 'Massage Room 2', 2)
('Matthew Genting', 'Massage Room 2', 1)
('Joan Coplin', 'Massage Room 2', 2)
('Ramnaresh Sarwin', 'Massage Room 2', 3)
('Darren Smith', 'Pool Table', 28)
('Tracy Smith', 'Pool Table', 61)
('Tim Rownam', 'Pool Table', 241)
('Janice Joplette', 'Pool Table', 27)
('Gerald Butters', 'Pool Table', 6)
('Burton Tracy', 'Pool Table', 30)
('Nancy Dare', 'Pool Table', 19)
('Tim Boothe', 'Pool Table', 25)
('Ponder Stibbons', 'Pool Table', 12)
('Charles Owen', 'Pool Table', 1)
('David Jones', 'Pool Table', 8)
('Anne Baker', 'Pool Table', 12)
('Jemima Farrell', 'Pool Table', 1)
('Jack Smith', 'Pool Table', 7)
('Florence Bader', 'Pool Table', 23)
('Timothy Baker', 'Pool Table', 85)
('David Pinker', 'Pool Table', 9)
('Matthew Genting', 'Pool Table', 18)
('Anna Mackenzie', 'Pool Table', 70)
('Joan Coplin', 'Pool Table', 11)
('Ramnaresh Sarwin', 'Pool Table', 13)
('Douglas Jones', 'Pool Table', 2)
('Henrietta Rumney', 'Pool Table', 3)
('David Farrell', 'Pool Table', 25)
('Henry Worthington-Smyth', 'Pool Table', 33)
('Millicent Purview', 'Pool Table', 5)
('Hyacinth Tupperware', 'Pool Table', 8)
('Darren Smith', 'Snooker Table', 12)
('Tracy Smith', 'Snooker Table', 45)
('Janice Joplette', 'Snooker Table', 68)
('Gerald Butters', 'Snooker Table', 34)
('Burton Tracy', 'Snooker Table', 20)
('Nancy Dare', 'Snooker Table', 23)
('Tim Boothe', 'Snooker Table', 43)
('Ponder Stibbons', 'Snooker Table', 20)
('Charles Owen', 'Snooker Table', 22)
('David Jones', 'Snooker Table', 2)
('Jemima Farrell', 'Snooker Table', 21)
('Jack Smith', 'Snooker Table', 5)
('Florence Bader', 'Snooker Table', 33)
('David Pinker', 'Snooker Table', 16)
('Matthew Genting', 'Snooker Table', 1)
('Anna Mackenzie', 'Snooker Table', 7)
('Joan Coplin', 'Snooker Table', 10)
('Ramnaresh Sarwin', 'Snooker Table', 18)
('Henrietta Rumney', 'Snooker Table', 14)
('David Farrell', 'Snooker Table', 1)
('Millicent Purview', 'Snooker Table', 1)
('Hyacinth Tupperware', 'Snooker Table', 5)
('Darren Smith', 'Squash Court', 14)
('Tracy Smith', 'Squash Court', 6)
('Janice Joplette', 'Squash Court', 14)
('Gerald Butters', 'Squash Court', 9)
('Burton Tracy', 'Squash Court', 35)
('Tim Boothe', 'Squash Court', 12)
('Ponder Stibbons', 'Squash Court', 2)
('Charles Owen', 'Squash Court', 7)
('David Jones', 'Squash Court', 8)
('Anne Baker', 'Squash Court', 49)
('Jemima Farrell', 'Squash Court', 8)
('Jack Smith', 'Squash Court', 9)
('Florence Bader', 'Squash Court', 2)
('Timothy Baker', 'Squash Court', 5)
('David Pinker', 'Squash Court', 3)
('Anna Mackenzie', 'Squash Court', 2)
('Joan Coplin', 'Squash Court', 1)
('Ramnaresh Sarwin', 'Squash Court', 2)
('Douglas Jones', 'Squash Court', 1)
('Henrietta Rumney', 'Squash Court', 2)
('David Farrell', 'Squash Court', 1)
('Millicent Purview', 'Squash Court', 1)
('Hyacinth Tupperware', 'Squash Court', 1)
('John Hunt', 'Squash Court', 1)
('Darren Smith', 'Table Tennis', 28)
('Tracy Smith', 'Table Tennis', 28)
('Tim Rownam', 'Table Tennis', 69)
('Janice Joplette', 'Table Tennis', 9)
('Gerald Butters', 'Table Tennis', 1)
('Burton Tracy', 'Table Tennis', 24)
('Nancy Dare', 'Table Tennis', 5)
('Tim Boothe', 'Table Tennis', 4)
('Ponder Stibbons', 'Table Tennis', 3)
('Charles Owen', 'Table Tennis', 24)
('David Jones', 'Table Tennis', 11)
('Anne Baker', 'Table Tennis', 1)
('Jemima Farrell', 'Table Tennis', 12)
('Jack Smith', 'Table Tennis', 5)
('Florence Bader', 'Table Tennis', 42)
('Timothy Baker', 'Table Tennis', 24)
('David Pinker', 'Table Tennis', 17)
('Matthew Genting', 'Table Tennis', 26)
('Anna Mackenzie', 'Table Tennis', 16)
('Joan Coplin', 'Table Tennis', 21)
('Ramnaresh Sarwin', 'Table Tennis', 3)
('Henry Worthington-Smyth', 'Table Tennis', 3)
('Millicent Purview', 'Table Tennis', 6)
('John Hunt', 'Table Tennis', 1)
('Erica Crumpet', 'Table Tennis', 2)
('Tracy Smith', 'Tennis Court 1', 30)
('Tim Rownam', 'Tennis Court 1', 6)
('Janice Joplette', 'Tennis Court 1', 19)
('Gerald Butters', 'Tennis Court 1', 57)
('Burton Tracy', 'Tennis Court 1', 31)
('Nancy Dare', 'Tennis Court 1', 25)
('Tim Boothe', 'Tennis Court 1', 4)
('Ponder Stibbons', 'Tennis Court 1', 1)
('Charles Owen', 'Tennis Court 1', 17)
('David Jones', 'Tennis Court 1', 25)
('Anne Baker', 'Tennis Court 1', 6)
('Jemima Farrell', 'Tennis Court 1', 1)
('Jack Smith', 'Tennis Court 1', 22)
('Florence Bader', 'Tennis Court 1', 1)
('Timothy Baker', 'Tennis Court 1', 14)
('David Pinker', 'Tennis Court 1', 16)
('Matthew Genting', 'Tennis Court 1', 1)
('Joan Coplin', 'Tennis Court 1', 7)
('Ramnaresh Sarwin', 'Tennis Court 1', 5)
('Douglas Jones', 'Tennis Court 1', 9)
('David Farrell', 'Tennis Court 1', 6)
('John Hunt', 'Tennis Court 1', 4)
('Erica Crumpet', 'Tennis Court 1', 1)
('Darren Smith', 'Tennis Court 2', 19)
('Tracy Smith', 'Tennis Court 2', 2)
('Tim Rownam', 'Tennis Court 2', 6)
('Janice Joplette', 'Tennis Court 2', 8)
('Gerald Butters', 'Tennis Court 2', 3)
('Burton Tracy', 'Tennis Court 2', 3)
('Nancy Dare', 'Tennis Court 2', 11)
('Tim Boothe', 'Tennis Court 2', 52)
('Ponder Stibbons', 'Tennis Court 2', 31)
('Charles Owen', 'Tennis Court 2', 41)
('David Jones', 'Tennis Court 2', 30)
('Anne Baker', 'Tennis Court 2', 35)
('Jemima Farrell', 'Tennis Court 2', 1)
('Jack Smith', 'Tennis Court 2', 1)
('Florence Bader', 'Tennis Court 2', 8)
('Timothy Baker', 'Tennis Court 2', 7)
('Ramnaresh Sarwin', 'Tennis Court 2', 11)
('Henrietta Rumney', 'Tennis Court 2', 1)
('David Farrell', 'Tennis Court 2', 1)
('Millicent Purview', 'Tennis Court 2', 1)
('John Hunt', 'Tennis Court 2', 4)

Q13: Find the facilities usage by month, but not guests

In [3]:
import sqlite3
from sqlite3 import Error
 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn
 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT strftime('%m', B.starttime) AS Month, F.name, COUNT(B.bookid)
        FROM Bookings AS B
        INNER JOIN Facilities AS F ON B.facid = F.facid
        WHERE B.memid >0
        GROUP BY Month, F.name
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('07', 'Badminton Court', 56)
('07', 'Massage Room 1', 123)
('07', 'Massage Room 2', 12)
('07', 'Pool Table', 110)
('07', 'Snooker Table', 75)
('07', 'Squash Court', 75)
('07', 'Table Tennis', 51)
('07', 'Tennis Court 1', 88)
('07', 'Tennis Court 2', 68)
('08', 'Badminton Court', 146)
('08', 'Massage Room 1', 224)
('08', 'Massage Room 2', 40)
('08', 'Pool Table', 291)
('08', 'Snooker Table', 159)
('08', 'Squash Court', 170)
('08', 'Table Tennis', 147)
('08', 'Tennis Court 1', 146)
('08', 'Tennis Court 2', 149)
('09', 'Badminton Court', 181)
('09', 'Massage Room 1', 282)
('09', 'Massage Room 2', 59)
('09', 'Pool Table', 435)
('09', 'Snooker Table', 210)
('09', 'Squash Court', 195)
('09', 'Table Tennis', 205)
('09', 'Tennis Court 1', 174)
('09', 'Tennis Court 2', 172)